# SPDX-License-Identifier: Apache-2.0
# Copyright (c) 2026 FastNetMon (fastnetmon.com)

LAB_SSH_USER="<ssh_user>"
LAB_PROXY="<proxy>"
LAB_HOST_server1="<host_server1>"
LAB_HOST_epyc="<host_epyc>"
LAB_HOST_lava="<host_lava>"
LAB_HOST_flame="<host_flame>"
LAB_HOST_dell="<host_dell>"
LAB_HOST_bluefield3="<host_bluefield3>"
LAB_HOST_alice="<host_alice>"
LAB_HOST_bob="<host_bob>"
LAB_MAC_LEFT_alice="<mac_left_alice>"
LAB_MAC_RIGHT_alice="<mac_right_alice>"
LAB_MAC_LEFT_bob="<mac_left_bob>"
LAB_MAC_RIGHT_bob="<mac_right_bob>"
LAB_MAC_SENDER_alice="<mac_sender_alice>"
LAB_MAC_RECEIVER_alice="<mac_receiver_alice>"
LAB_MAC_SENDER_bob="<mac_sender_bob>"
LAB_MAC_RECEIVER_bob="<mac_receiver_bob>"
LAB_KVM_HOST_alice="<jetkvm_host_alice>"
LAB_KVM_PASS_alice="<jetkvm_pass_alice>"
LAB_KVM_HOST_bob="<jetkvm_host_bob>"
LAB_KVM_PASS_bob="<jetkvm_pass_bob>"
LAB_MAC_LEFT_server1="<mac_left_server1>"
LAB_MAC_RIGHT_server1="<mac_right_server1>"
LAB_IPMI_HOST_server1="<ipmi_host_server1>"
LAB_IPMI_USER_server1="<ipmi_user_server1>"
LAB_IPMI_PASS_server1="<ipmi_pass_server1>"
LAB_MAC_LEFT_epyc="<mac_left_epyc>"
LAB_MAC_RIGHT_epyc="<mac_right_epyc>"
LAB_IPMI_HOST_epyc="<ipmi_host_epyc>"
LAB_IPMI_USER_epyc="<ipmi_user_epyc>"
LAB_IPMI_PASS_epyc="<ipmi_pass_epyc>"
LAB_MAC_SENDER_lava="<mac_sender_lava>"
LAB_MAC_RECEIVER_lava="<mac_receiver_lava>"
LAB_MAC_SENDER_flame="<mac_sender_flame>"
LAB_MAC_RECEIVER_flame="<mac_receiver_flame>"
LAB_MAC_SENDER_dell="<mac_sender_dell>"
LAB_MAC_RECEIVER_dell="<mac_receiver_dell>"
LAB_DELL_IDRAC_HOST="<dell_idrac_host>"
LAB_DELL_IDRAC_USER="<dell_idrac_user>"
LAB_DELL_IDRAC_PASS="<dell_idrac_pass>"
LAB_PDU1_HOST="<pdu1_host>"
LAB_PDU2_HOST="<pdu2_host>"
LAB_PDU_USER="<pdu_user>"
LAB_PDU1_PASS="<pdu1_pass>"
LAB_PDU2_PASS="<pdu2_pass>"
LAB_PDU_MAP_flame1="<pdu_map_flame1>"
LAB_PDU_MAP_lava1="<pdu_map_lava1>"
LAB_PDU_MAP_server1="<pdu_map_server1>"
LAB_PDU_MAP_epyc_sp5=""
LAB_MAC_DUT_VF_RIGHT="<mac_dut_vf_right>"
